<h2 id="title">Ember At.js</h2>

<h3>@ tagging</h3>
{{atjs-textarea settings=atSettings value=atValue}}
<hr>
{{#each atSettings as |setting|}}
  {{setting.at}}: {{setting.data}}<br>
{{/each}}
<hr>
{{atValue}}
<button {{action 'changeAtSettings'}}>Change settings</button>

<h3>emoji</h3>
{{atjs-textarea settings=emojiSettings value=emojiValue}}
<hr>
{{#each emojiSettings as |setting|}}
  {{#each setting.data as |emojis|}}
    {{emojis.name}}, 
  {{/each}}
{{/each}}
<button {{action 'changeEmojiSettings'}}>Change settings</button>
